* {
    padding: 0;
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url("../img/fondo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.nav {
    height: 40px;
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav>img {
    height: 100%;
    padding: 0 10px;
}

.menuDesplegable {
    position: absolute;
    display: none;
    list-style: none;
}

.menuDesplegable>li {
    padding: 5px 10px;
    background-color: blueviolet;
}
.menuDesplegable>li:hover{
    background-color: rgb(159, 91, 223);
}

.menuDesplegable>li>a, .menuDesplegable>li>p {
    color: black;
    text-decoration: none;
}

.menuDesplegable>li>p{
    cursor: pointer;
}

.session li:hover .menuDesplegable {
    display: block;
}

.session {
    list-style: none;
    padding: 10px 20px;
}
.session > li > p{
    padding: 20px 10px;
    cursor: pointer;
}

.session>li>a {
    color: black;
    outline: none;
    display: block;
    text-decoration: none;
}

.session>li:hover {
    background-color: rgb(159, 91, 223);
}


#contenedorSession {
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#contenedorSession>form {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: calc(100% - 70vw);
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

#contenedorSession>form h2,
#contenedorSession>form>a {
    text-align: center;
}

.requisito {
    display: flex;
    flex-direction: column;
}

.requisito>label,
.requisito>input {
    font-size: 20px;
}

.requisito>label {
    padding: 10px 0;
}

.requisito>input {
    width: 100%;
}

.requisito>input:focus {
    outline: none;
}

.boton {
    text-align: center;
    padding: 20px 0;
}

.boton>button {
    background-color: blueviolet;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.boton>button:hover {
    background-color: rgb(181, 134, 224);
}

.mensaje {
    padding: 20px;
    font-size: 30px;
    color: red;
    font-weight: 600;
}

#contenedorArchivos h2 {
    padding: 10px;
}

.listaArchivos {
    border: black solid 1px;
    border-collapse: collapse;
}

.listaArchivos th,
.listaArchivos td {
    padding: 10px;
    border: black solid 1px;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contenedor {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorArchivos {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subirArchivos {
    display: none;
    padding: 10px 20px;
    flex-direction: column;
}

.borrar-archivo {
    background-color: red;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    display: none;
    border: 0;
}

.bodyRegister {
    padding: 3% 0;
}

.contenedorRegister {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contenedorRegister h1 {
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: solid black 1px;
}

.contenedorRegister>form {
    border-radius: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card label {
    padding: 5px 0 10px 0;
}

.card input:focus{
    outline: none;
}

@media screen and (max-width: 768px) {
    #contenedorSession>form {
        width: calc(100% - 20vw);
    }
    .card{
        width: 195px;
    }
}